body {
    background: url(ground.jpg);

}
.pool {
    width: 980px;
    height: 600px;
    /*background: url(ground.jpg);*/
    background-size: cover;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.referee {
    position: absolute;
    background: url(YosemiteSam1.gif) no-repeat;
    background-size: cover;
    height: 150px;
    width: 75px;
    left: -15%;
    transition: all 600ms;
}

.swimmer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 500;

}

.swimmer img {
    height: 120px;
    width: 120px;

}

.one {
}

.two {
    transform: scaleX(-1);
}
.three {
    transform: scaleX(-1);
}
.four {

}

button {
    top: -13%;
    left: -15%;
    font-size: 2rem;
    position: absolute;
    background: url(ltbg.jpg);
    background-size: cover;
    border-radius: 50%;
    background-position: 50% 0;
    height:85px;
    width: 85px;
    color: white;
    outline: none;
}

.finish-line {
    position: absolute;
    height: 110%;
    width: 10px;
    background: white;
    opacity:0.15;
    top:-10%;
    left: 85%;
    border-radius: 20%;
}